# Data Types

## type()

In [3]:
var1 = 4
type(var1)

int

In [4]:
var2 = 4.0
type(var2)

float

In [5]:
var3 = "4.0"
type(var3)

str

In [6]:
var4 = [4]
type(var4)

list

In [7]:
var5 = {4: 4}
type(var5)

dict

In [10]:
type(True)

bool

In [8]:
type(type(var1))

type

## instanceof()

In [18]:
isinstance(4.0, int)

False

In [20]:
isinstance('4', str)

True

In [21]:
isinstance(type(4), type)

True

In [22]:
isinstance([4], list)

True

### List Questions

In [ ]:
list

In [1]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
list1[0:-3]

[1, 2, 3, 4, 5, 6, 7]

In [3]:
list1[:5]

[1, 2, 3, 4, 5]

In [4]:
list1[-4:]

[7, 8, 9, 10]

### List Questions and Exercises

In [2]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# List Question # 2.a
list1[0:-3]

[1, 2, 3, 4, 5, 6, 7]

In [4]:
# List Question # 2.b
list1[:5]

[1, 2, 3, 4, 5]

In [5]:
# List Question # 2.c
list1[-4:]

[7, 8, 9, 10]

In [ ]:
# List Exercise #1

In [6]:
input_str = ['E', 'A', 'S', '*', 'Y', '*', 'Q', 'U', 'E', '*', '*', '*',
             'S', 'T', '*', '*', '*', 'I', 'O', '*', 'N', '*', '*', '*']

def stack_ex(input_str):
    output_list = []
    for char in input_str:
        if char == '*':
            output_list.pop()
        else:
            output_list.append(char)
    return output_list

In [7]:
stack_ex(input_str)

[]

In [8]:
input_str3 = ['7', '5', '*', '8', '*', '*', '2', '9', '*', '3', '7',
              '*', '*', '0', '*', '0', '5', '6', '*', '*', '0', '4', '*', '5', '0', '*', '*', '3', '1', '*']
stack_ex(input_str3)

['2', '0', '0', '3']

In [3]:
input_str.reverse()
input_str

['*',
 '*',
 '*',
 'N',
 '*',
 'O',
 'I',
 '*',
 '*',
 '*',
 'T',
 'S',
 '*',
 '*',
 '*',
 'E',
 'U',
 'Q',
 '*',
 'Y',
 '*',
 'S',
 'A',
 'E']

In [35]:
input_str.reverse()
input_str.sort()
input_str

['*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 'A',
 'E',
 'E',
 'I',
 'N',
 'O',
 'Q',
 'S',
 'S',
 'T',
 'U',
 'Y']

In [36]:
len(input_str)

24

In [38]:
input_str.count('*')

12

In [10]:
input_str3

['7',
 '5',
 '*',
 '8',
 '*',
 '*',
 '2',
 '9',
 '*',
 '3',
 '7',
 '*',
 '*',
 '0',
 '*',
 '0',
 '5',
 '6',
 '*',
 '*',
 '0',
 '4',
 '*',
 '5',
 '0',
 '*',
 '*',
 '3',
 '1',
 '*']

In [11]:
del(input_str3[0:4])

In [12]:
input_str3

['*',
 '*',
 '2',
 '9',
 '*',
 '3',
 '7',
 '*',
 '*',
 '0',
 '*',
 '0',
 '5',
 '6',
 '*',
 '*',
 '0',
 '4',
 '*',
 '5',
 '0',
 '*',
 '*',
 '3',
 '1',
 '*']

In [13]:
input_str3[0:4]

['*', '*', '2', '9']

In [14]:
del(input_str3[0:4])

In [15]:
input_str3

['*',
 '3',
 '7',
 '*',
 '*',
 '0',
 '*',
 '0',
 '5',
 '6',
 '*',
 '*',
 '0',
 '4',
 '*',
 '5',
 '0',
 '*',
 '*',
 '3',
 '1',
 '*']

In [16]:
del(input_str3[-5:])

In [17]:
input_str3

['*',
 '3',
 '7',
 '*',
 '*',
 '0',
 '*',
 '0',
 '5',
 '6',
 '*',
 '*',
 '0',
 '4',
 '*',
 '5',
 '0']

In [18]:
tuple(range(1, 10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [19]:
t1 = (1, 2, 3)
type(t1)

tuple

In [22]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
[x**2 for x in range(10) if x % 2 == 0]

[0, 4, 16, 36, 64]

In [24]:
l4 = ['E', 'A', 'S', '*', 'Y', '*', 'Q', 'U', 'E', '*', '*', '*','S', 'T', '*', '*', '*', 'I', 'O', '*', 'N', '*', '*', '*']

In [26]:
[x.lower() for x in l4 if x != '*']

['e', 'a', 's', 'y', 'q', 'u', 'e', 's', 't', 'i', 'o', 'n']

In [8]:
set1 = {1, 8, 27, 64, 125}
set1[1]

TypeError: 'set' object is not subscriptable

In [10]:
list(set1)[1]

1

In [2]:
frc_teams = {1318: 'IRS', '1318': 'Issaquah Robotics Society'}

In [3]:
frc_teams

{1318: 'IRS', '1318': 'Issaquah Robotics Society'}

In [4]:
del frc_teams['1318']

In [5]:
frc_teams

{1318: 'IRS'}

In [6]:
four = 4
my_dictionary = {"four": 4, 4: "The number of the day is four"}

print(my_dictionary[four])

The number of the day is four