In [2]:
import psycopg2
import sqlalchemy
import pandas as pd

In [1]:
import numpy as np

In [2]:
conn_string = "postgresql://irs1318:irs1318@localhost:5432/mydb"
engine = sqlalchemy.create_engine(conn_string)
conn = engine.connect()

In [3]:
sql = ("SELECT * FROM teams;")
pd.read_sql(sql, conn)

,team_number,team_name,rookie_year,program,school,city,state
0,4131,Iron Patriots,2012,FRC,Liberty High School,Renton,WA
1,2976,Spartabots,2009,FRC,Skyline High School,Sammamish,WA
2,11487,Gibson Ek,2016,FTC,Gibson Ek Innovation High School,Issaquah,WA
3,11104,Bearded Pineapples,2016,FTC,Girl Scouts,Kirkland,WA
4,12506,Rose Dragons,2016,FTC,Girl Scouts,Bellevue,WA
5,1318,Issaquah Robotics Society,2003,FRC,Issaquah High School,Issaquah,WA
6,31156,Knights4Robotics,2017,FLL,None,Issaquah,WA
7,23816,TribeBots,2016,FLL,None,Issaquah,WA
8,14302,Mini-Taurs,2014,FLL,None,Bellevue,WA

In [4]:
conn.close()

In [2]:
conn_string = "postgresql://irs1318:irs1318@localhost:5432/pncmp"
engine = sqlalchemy.create_engine(conn_string)
conn = engine.connect()

In [14]:
sql = ("SELECT * FROM results;")
results = pd.read_sql(sql, conn)
results

,row.names,match,description,level,actualStart,postResult,team,alliance,station,disqualified,scoreFinal,scoreAuto,scoreFoul
0,q.1.blue1,1,Qualification 1,Qualification,2018-04-05T14:05:35.4933333,2018-04-05T14:08:26.5966667,6845,Blue,Blue1,False,229,33,0
1,q.1.blue2,1,Qualification 1,Qualification,2018-04-05T14:05:35.4933333,2018-04-05T14:08:26.5966667,4488,Blue,Blue2,False,229,33,0
2,q.1.blue3,1,Qualification 1,Qualification,2018-04-05T14:05:35.4933333,2018-04-05T14:08:26.5966667,6445,Blue,Blue3,False,229,33,0
3,q.1.red1,1,Qualification 1,Qualification,2018-04-05T14:05:35.4933333,2018-04-05T14:08:26.5966667,2471,Red,Red1,False,406,49,0
4,q.1.red2,1,Qualification 1,Qualification,2018-04-05T14:05:35.4933333,2018-04-05T14:08:26.5966667,2521,Red,Red2,False,406,49,0
5,q.1.red3,1,Qualification 1,Qualification,2018-04-05T14:05:35.4933333,2018-04-05T14:08:26.5966667,3674,Red,Red3,False,406,49,0
6,q.2.blue1,2,Qualification 2,Qualification,2018-04-05T14:12:41.8966667,2018-04-05T14:15:35.8633333,2976,Blue,Blue1,False,239,10,25
7,q.2.blue2,2,Qualification 2,Qualification,2018-04-05T14:12:41.8966667,2018-04-05T14:15:35.8633333,4911,Blue,Blue2,False,239,10,25
8,q.2.blue3,2,Qualification 2,Qualification,2018-04-05T14:12:41.8966667,2018-04-05T14:15:35.8633333,3826,Blue,Blue3,False,239,10,25
9,q.2.red1,2,Qualification 2,Qualification,2018-04-05T14:12:41.8966667,2018-04-05T14:15:35.8633333,2930,Red,Red1,False,280,37,30
10,q.2.red2,2,Qualification 2,Qualification,2018-04-05T14:12:41.8966667,2018-04-05T14:15:35.8633333,1510,Red,Red2,False,280,37,30
11,q.2.red3,2,Qualification 2,Qualification,2018-04-05T14:12:41.8966667,2018-04-05T14:15:35.8633333,3663,Red,Red3,False,280,37,30
12,q.3.blue1,3,Qualification 3,Qualification,2018-04-05T14:19:49.1,2018-04-05T14:22:40.0833333,2990,Blue,Blue1,False,447,41,25
13,q.3.blue2,3,Qualification 3,Qualification,2018-04-05T14:19:49.1,2018-04-05T14:22:40.0833333,5450,Blue,Blue2,False,447,41,25
14,q.3.blue3,3,Qualification 3,Qualification,2018-04-05T14:19:49.1,2018-04-05T14:22:40.0833333,3218,Blue,Blue3,False,447,41,25
15,q.3.red1,3,Qualification 3,Qualification,2018-04-05T14:19:49.1,2018-04-05T14:22:40.0833333,4125,Red,Red1,False,210,37,0
16,q.3.red2,3,Qualification 3,Qualification,2018-04-05T14:19:49.1,2018-04-05T14:22:40.0833333,3238,Red,Red2,False,210,37,0
17,q.3.red3,3,Qualification 3,Qualification,2018-04-05T14:19:49.1,2018-04-05T14:22:40.0833333,7034,Red,Red3,False,210,37,0
18,q.4.blue1,4,Qualification 4,Qualification,2018-04-05T14:27:08.4333333,2018-04-05T14:30:18.05,847,Blue,Blue1,False,355,35,25
19,q.4.blue2,4,Qualification 4,Qualification,2018-04-05T14:27:08.4333333,2018-04-05T14:30:18.05,1425,Blue,Blue2,False,355,35,25
20,q.4.blue3,4,Qualification 4,Qualification,2018-04-05T14:27:08.4333333,2018-04-05T14:30:18.05,2557,Blue,Blue3,False,355,35,25
21,q.4.red1,4,Qualification 4,Qualification,2018-04-05T14:27:08.4333333,2018-04-05T14:30:18.05,1540,Red,Red1,False,337,39,75
22,q.4.red2,4,Qualification 4,Qualification,2018-04-05T14:27:08.4333333,2018-04-05T14:30:18.05,997,Red,Red2,False,337,39,75
23,q.4.red3,4,Qualification 4,Qualification,2018-04-05T14:27:08.4333333,2018-04-05T14:30:18.05,4513,Red,Red3,False,337,39,75
24,q.5.blue1,5,Qualification 5,Qualification,2018-04-05T14:34:11.2233333,2018-04-05T14:37:01.57,6465,Blue,Blue1,False,275,12,0
25,q.5.blue2,5,Qualification 5,Qualification,2018-04-05T14:34:11.2233333,2018-04-05T14:37:01.57,1595,Blue,Blue2,False,275,12,0
26,q.5.blue3,5,Qualification 5,Qualification,2018-04-05T14:34:11.2233333,2018-04-05T14:37:01.57,4450,Blue,Blue3,False,275,12,0
27,q.5.red1,5,Qualification 5,Qualification,2018-04-05T14:34:11.2233333,2018-04-05T14:37:01.57,4980,Red,Red1,False,167,31,0
28,q.5.red2,5,Qualification 5,Qualification,2018-04-05T14:34:11.2233333,2018-04-05T14:37:01.57,957,Red,Red2,False,167,31,0
29,q.5.red3,5,Qualification 5,Qualification,2018-04-05T14:34:11.2233333,2018-04-05T14:37:01.57,2944,Red,Red3,False,167,31,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,q.124.blue1,124,Qualification 124,Qualification,2018-04-07T11:04:34.6633333,2018-04-07T11:12:06.9466667,4915,Blue,Blue1,False,105,15,50
739,q.124.blue2,124,Qualification 124,Qualification,2018-04-07T11:04:34.6633333,2018-04-07T11:12:06.9466667,4125,Blue,Blue2,False,105,15,50
740,q.124.blue3,124,Qualification 124,Qualification,2018-04-07T11:04:34.6633333,2018-04-07T11:12:06.9466667,847,Blue,Blue3,False,105,15,50
741,q.124.red1,124,Qualification 124,Qualification,2018-04-07T11:04:34.6633333,2018-04-07T11:12:06.9466667,2930,Red,Red1,False,487,47,25
742,q.124.red2,124,Qualification 124,Qualification,2018-04-07T11:04:34.6633333,2018-04-07T11:12:06.9466667,2557,Red,Red2,False,487,47,25
743,q.124.red3,124,Qualification 124,Qualification,2018-04-07T11:04:34.6633333,2018-04-07T11:12:06.9466667,5803,Red,Red3,False,487,47,25
744,q.125.blue1,125,Qualification 125,Qualification,2018-04-07T11:15:29.5,2018-04-07T11:20:19.77,2471,Blue,Blue1,False,423,53,5
745,q.125.blue2,125,Qualification 125,Qualification,2018-04-07T11:15:29.5,2018-04-07T11:20:19.77,1983,Blue,Blue2,False,423,53,5
746,q.125.blue3,125,Qualification 125,Qualification,2018-04-07T11:15:29.5,2018-04-07T11:20:19.77,4469,Blue,Blue3,False,423,53,5
747,q.125.red1,125,Qualification 125,Qualification,2018-04-07T11:15:29.5,2018-04-07T11:20:19.77,3218,Red,Red1,False,154,18,10
748,q.125.red2,125,Qualification 125,Qualification,2018-04-07T11:15:29.5,2018-04-07T11:20:19.77,3826,Red,Red2,False,154,18,10
749,q.125.red3,125,Qualification 125,Qualification,2018-04-07T11:15:29.5,2018-04-07T11:20:19.77,1425,Red,Red3,False,154,18,10
750,q.126.blue1,126,Qualification 126,Qualification,2018-04-07T11:23:20.4333333,2018-04-07T11:26:14.1433333,4513,Blue,Blue1,False,344,21,25
751,q.126.blue2,126,Qualification 126,Qualification,2018-04-07T11:23:20.4333333,2018-04-07T11:26:14.1433333,3024,Blue,Blue2,False,344,21,25
752,q.126.blue3,126,Qualification 126,Qualification,2018-04-07T11:23:20.4333333,2018-04-07T11:26:14.1433333,957,Blue,Blue3,False,344,21,25
753,q.126.red1,126,Qualification 126,Qualification,2018-04-07T11:23:20.4333333,2018-04-07T11:26:14.1433333,5450,Red,Red1,False,286,29,0
754,q.126.red2,126,Qualification 126,Qualification,2018-04-07T11:23:20.4333333,2018-04-07T11:26:14.1433333,6831,Red,Red2,False,286,29,0
755,q.126.red3,126,Qualification 126,Qualification,2018-04-07T11:23:20.4333333,2018-04-07T11:26:14.1433333,6845,Red,Red3,False,286,29,0
756,q.127.blue1,127,Qualification 127,Qualification,2018-04-07T11:29:15.93,2018-04-07T11:32:11.3933333,6443,Blue,Blue1,False,272,33,10
757,q.127.blue2,127,Qualification 127,Qualification,2018-04-07T11:29:15.93,2018-04-07T11:32:11.3933333,2374,Blue,Blue2,False,272,33,10
758,q.127.blue3,127,Qualification 127,Qualification,2018-04-07T11:29:15.93,2018-04-07T11:32:11.3933333,488,Blue,Blue3,False,272,33,10
759,q.127.red1,127,Qualification 127,Qualification,2018-04-07T11:29:15.93,2018-04-07T11:32:11.3933333,3711,Red,Red1,False,364,49,0
760,q.127.red2,127,Qualification 127,Qualification,2018-04-07T11:29:15.93,2018-04-07T11:32:11.3933333,6445,Red,Red2,False,364,49,0
761,q.127.red3,127,Qualification 127,Qualification,2018-04-07T11:29:15.93,2018-04-07T11:32:11.3933333,2522,Red,Red3,False,364,49,0
762,q.128.blue1,128,Qualification 128,Qualification,2018-04-07T11:36:33.0366667,2018-04-07T11:39:34.3233333,4512,Blue,Blue1,False,405,35,25
763,q.128.blue2,128,Qualification 128,Qualification,2018-04-07T11:36:33.0366667,2018-04-07T11:39:34.3233333,997,Blue,Blue2,False,405,35,25
764,q.128.blue3,128,Qualification 128,Qualification,2018-04-07T11:36:33.0366667,2018-04-07T11:39:34.3233333,2928,Blue,Blue3,False,405,35,25
765,q.128.red1,128,Qualification 128,Qualification,2018-04-07T11:36:33.0366667,2018-04-07T11:39:34.3233333,2976,Red,Red1,False,296,29,0
766,q.128.red2,128,Qualification 128,Qualification,2018-04-07T11:36:33.0366667,2018-04-07T11:39:34.3233333,2147,Red,Red2,False,296,29,0
767,q.128.red3,128,Qualification 128,Qualification,2018-04-07T11:36:33.0366667,2018-04-07T11:39:34.3233333,5920,Red,Red3,False,296,29,0

In [15]:
results.columns

Index(['row.names', 'match', 'description', 'level', 'actualStart',
       'postResult', 'team', 'alliance', 'station', 'disqualified',
       'scoreFinal', 'scoreAuto', 'scoreFoul'],
      dtype='object')

In [9]:
sql = ("SELECT * FROM schedule;")
schedule = pd.read_sql(sql, conn)
schedule

,row.names,match,description,level,field,start,team,alliance,station,surrogate
0,q.1.blue1,1,Qualification 1,Qualification,Primary,2018-04-05T14:00:00,6845,Blue,Blue1,False
1,q.1.blue2,1,Qualification 1,Qualification,Primary,2018-04-05T14:00:00,4488,Blue,Blue2,False
2,q.1.blue3,1,Qualification 1,Qualification,Primary,2018-04-05T14:00:00,6445,Blue,Blue3,False
3,q.1.red1,1,Qualification 1,Qualification,Primary,2018-04-05T14:00:00,2471,Red,Red1,False
4,q.1.red2,1,Qualification 1,Qualification,Primary,2018-04-05T14:00:00,2521,Red,Red2,False
5,q.1.red3,1,Qualification 1,Qualification,Primary,2018-04-05T14:00:00,3674,Red,Red3,False
6,q.2.blue1,2,Qualification 2,Qualification,Primary,2018-04-05T14:07:00,2976,Blue,Blue1,False
7,q.2.blue2,2,Qualification 2,Qualification,Primary,2018-04-05T14:07:00,4911,Blue,Blue2,False
8,q.2.blue3,2,Qualification 2,Qualification,Primary,2018-04-05T14:07:00,3826,Blue,Blue3,False
9,q.2.red1,2,Qualification 2,Qualification,Primary,2018-04-05T14:07:00,2930,Red,Red1,False
10,q.2.red2,2,Qualification 2,Qualification,Primary,2018-04-05T14:07:00,1510,Red,Red2,False
11,q.2.red3,2,Qualification 2,Qualification,Primary,2018-04-05T14:07:00,3663,Red,Red3,False
12,q.3.blue1,3,Qualification 3,Qualification,Primary,2018-04-05T14:14:00,2990,Blue,Blue1,False
13,q.3.blue2,3,Qualification 3,Qualification,Primary,2018-04-05T14:14:00,5450,Blue,Blue2,False
14,q.3.blue3,3,Qualification 3,Qualification,Primary,2018-04-05T14:14:00,3218,Blue,Blue3,False
15,q.3.red1,3,Qualification 3,Qualification,Primary,2018-04-05T14:14:00,4125,Red,Red1,False
16,q.3.red2,3,Qualification 3,Qualification,Primary,2018-04-05T14:14:00,3238,Red,Red2,False
17,q.3.red3,3,Qualification 3,Qualification,Primary,2018-04-05T14:14:00,7034,Red,Red3,False
18,q.4.blue1,4,Qualification 4,Qualification,Primary,2018-04-05T14:21:00,847,Blue,Blue1,False
19,q.4.blue2,4,Qualification 4,Qualification,Primary,2018-04-05T14:21:00,1425,Blue,Blue2,False
20,q.4.blue3,4,Qualification 4,Qualification,Primary,2018-04-05T14:21:00,2557,Blue,Blue3,False
21,q.4.red1,4,Qualification 4,Qualification,Primary,2018-04-05T14:21:00,1540,Red,Red1,False
22,q.4.red2,4,Qualification 4,Qualification,Primary,2018-04-05T14:21:00,997,Red,Red2,False
23,q.4.red3,4,Qualification 4,Qualification,Primary,2018-04-05T14:21:00,4513,Red,Red3,False
24,q.5.blue1,5,Qualification 5,Qualification,Primary,2018-04-05T14:28:00,6465,Blue,Blue1,False
25,q.5.blue2,5,Qualification 5,Qualification,Primary,2018-04-05T14:28:00,1595,Blue,Blue2,False
26,q.5.blue3,5,Qualification 5,Qualification,Primary,2018-04-05T14:28:00,4450,Blue,Blue3,False
27,q.5.red1,5,Qualification 5,Qualification,Primary,2018-04-05T14:28:00,4980,Red,Red1,False
28,q.5.red2,5,Qualification 5,Qualification,Primary,2018-04-05T14:28:00,957,Red,Red2,False
29,q.5.red3,5,Qualification 5,Qualification,Primary,2018-04-05T14:28:00,2944,Red,Red3,False
...,...,...,...,...,...,...,...,...,...,...
738,q.124.blue1,124,Qualification 124,Qualification,Primary,2018-04-07T11:02:00,4915,Blue,Blue1,False
739,q.124.blue2,124,Qualification 124,Qualification,Primary,2018-04-07T11:02:00,4125,Blue,Blue2,False
740,q.124.blue3,124,Qualification 124,Qualification,Primary,2018-04-07T11:02:00,847,Blue,Blue3,False
741,q.124.red1,124,Qualification 124,Qualification,Primary,2018-04-07T11:02:00,2930,Red,Red1,False
742,q.124.red2,124,Qualification 124,Qualification,Primary,2018-04-07T11:02:00,2557,Red,Red2,False
743,q.124.red3,124,Qualification 124,Qualification,Primary,2018-04-07T11:02:00,5803,Red,Red3,False
744,q.125.blue1,125,Qualification 125,Qualification,Primary,2018-04-07T11:09:00,2471,Blue,Blue1,False
745,q.125.blue2,125,Qualification 125,Qualification,Primary,2018-04-07T11:09:00,1983,Blue,Blue2,False
746,q.125.blue3,125,Qualification 125,Qualification,Primary,2018-04-07T11:09:00,4469,Blue,Blue3,False
747,q.125.red1,125,Qualification 125,Qualification,Primary,2018-04-07T11:09:00,3218,Red,Red1,False
748,q.125.red2,125,Qualification 125,Qualification,Primary,2018-04-07T11:09:00,3826,Red,Red2,False
749,q.125.red3,125,Qualification 125,Qualification,Primary,2018-04-07T11:09:00,1425,Red,Red3,False
750,q.126.blue1,126,Qualification 126,Qualification,Primary,2018-04-07T11:16:00,4513,Blue,Blue1,False
751,q.126.blue2,126,Qualification 126,Qualification,Primary,2018-04-07T11:16:00,3024,Blue,Blue2,False
752,q.126.blue3,126,Qualification 126,Qualification,Primary,2018-04-07T11:16:00,957,Blue,Blue3,False
753,q.126.red1,126,Qualification 126,Qualification,Primary,2018-04-07T11:16:00,5450,Red,Red1,False
754,q.126.red2,126,Qualification 126,Qualification,Primary,2018-04-07T11:16:00,6831,Red,Red2,False
755,q.126.red3,126,Qualification 126,Qualification,Primary,2018-04-07T11:16:00,6845,Red,Red3,False
756,q.127.blue1,127,Qualification 127,Qualification,Primary,2018-04-07T11:23:00,6443,Blue,Blue1,False
757,q.127.blue2,127,Qualification 127,Qualification,Primary,2018-04-07T11:23:00,2374,Blue,Blue2,False
758,q.127.blue3,127,Qualification 127,Qualification,Primary,2018-04-07T11:23:00,488,Blue,Blue3,False
759,q.127.red1,127,Qualification 127,Qualification,Primary,2018-04-07T11:23:00,3711,Red,Red1,False
760,q.127.red2,127,Qualification 127,Qualification,Primary,2018-04-07T11:23:00,6445,Red,Red2,False
761,q.127.red3,127,Qualification 127,Qualification,Primary,2018-04-07T11:23:00,2522,Red,Red3,False
762,q.128.blue1,128,Qualification 128,Qualification,Primary,2018-04-07T11:30:00,4512,Blue,Blue1,False
763,q.128.blue2,128,Qualification 128,Qualification,Primary,2018-04-07T11:30:00,997,Blue,Blue2,False
764,q.128.blue3,128,Qualification 128,Qualification,Primary,2018-04-07T11:30:00,2928,Blue,Blue3,False
765,q.128.red1,128,Qualification 128,Qualification,Primary,2018-04-07T11:30:00,2976,Red,Red1,False
766,q.128.red2,128,Qualification 128,Qualification,Primary,2018-04-07T11:30:00,2147,Red,Red2,False
767,q.128.red3,128,Qualification 128,Qualification,Primary,2018-04-07T11:30:00,5920,Red,Red3,False

In [8]:
sql = ("SELECT * FROM teams;")
pd.read_sql(sql, conn)

,row.names,team,nameFull,nameShort,schoolName,city,stateProv,country,website,rookieYear,robotName,districtCode,homeCMP,teamCountTotal,teamCountPage,pageCurrent,pageTotal
0,1,360,The Boeing Company/Friends of Bellarmine Robot...,The Revolution,Bellarmine Preparatory School,Tacoma,Washington,USA,http://www.frc360.com,2000,RM 19 (Rainmaker 19),PNW,CMPTX,64,64,1,1
1,2,488,Microsoft/The Boeing Company/Rainier Valley Ro...,Team XBot,Franklin High School & xbot robotics,Seattle,Washington,USA,http://www.teamxbot.org,2000,X17,PNW,CMPTX,64,64,1,1
2,3,492,Washington Office of Superintendent of Public ...,Titan Robotics Club,International School,Bellevue,Washington,USA,http://www.titanrobotics.com/,2001,Kareem Abdul JabBot,PNW,CMPTX,64,64,1,1
3,4,847,Autodesk/HP /IBEW Local 280/Oregon Department ...,PHRED,Philomath High School,Philomath,Oregon,USA,http://www.team847.com,2002,,PNW,CMPTX,64,64,1,1
4,5,948,The Boeing Company/Microsoft/Wicresoft/Bellevu...,NRG (Newport Robotics Group),Newport Senior High School,Bellevue,Washington,USA,http://www.nrg948.com,2002,Claptrap,PNW,CMPTX,64,64,1,1
5,6,957,Viper Northwest/Autodesk/Oregon Department of ...,SWARM,Oregon Connections Academy & South Albany High...,Albany,Oregon,USA,http://www.team957.com,2002,Otis,PNW,CMPTX,64,64,1,1
6,7,997,H P inc/Tripwire/Oregon Department of Educatio...,Spartan Robotics,Corvallis High School,Corvallis,Oregon,USA,http://www.chsrobotics.org,2002,Calypso,PNW,CMPTX,64,64,1,1
7,8,1318,The Boeing Company/State of Washington OSPI/Tr...,Issaquah Robotics Society,Issaquah High School,Issaquah,Washington,USA,http://www.team1318.org,2004,Cube - bert,PNW,CMPTX,64,64,1,1
8,9,1359,Linn Benton Community College/Oregon Dept of E...,Scalawags,Venture Crew 308,Lebanon,Oregon,USA,www.scalawags.org,2004,Rancid Squid,PNW,CMPTX,64,64,1,1
9,10,1425,Xerox/Lam Research/City Of Wilsonville/Maxim I...,Error Code Xero,Wilsonville High School,Wilsonville,Oregon,USA,http://www.wilsonvillerobotics.com,2004,Phoenix,PNW,CMPTX,64,64,1,1
10,11,1510,Intel/Microsoft Azure/Oregon Dept of Education...,Wildcats,Westview High School,Beaverton,Oregon,USA,www.bpsrobotics.org/1510,2005,None,PNW,CMPTX,64,64,1,1
11,12,1540,Autodesk/NASA/FLIR/FIRST Tech Credit Union/Bon...,Flaming Chickens,Catlin Gabel School,Portland,Oregon,USA,http://www.team1540.org/,2005,Pandora,PNW,CMPTX,64,64,1,1
12,13,1595,Pearson Packaging Systems/American Alloy/First...,The Dragons,St George's School,Spokane,Washington,USA,http://www.1595dragons.org/,2005,Crossfire,PNW,CMPTX,64,64,1,1
13,14,1778,The Boeing Company/OSPI/Philips Healthcare Cor...,Chill Out,Mountlake Terrace High School,Mountlake Terrace,Washington,USA,http://www.first1778.org/,2006,Chilled Butter,PNW,CMPTX,64,64,1,1
14,15,1983,The Boeing Company/Lockheed Martin/OmanTek/OMA...,Skunk Works Robotics,Aviation High School & 4-H,Seattle,Washington,USA,http://skunkworks1983.com/,2007,Breakout,PNW,CMPTX,64,64,1,1
15,16,2046,The Boeing Company/Washington State OSPI/Flow ...,Bear Metal,Tahoma Senior High School,Maple Valley,Washington,USA,http://tahomarobotics.org/,2007,Ursa Origin,PNW,CMPTX,64,64,1,1
16,17,2147,Elcon Construction/Bill Meyer/Wagstaff/F5/Grea...,CHUCK,West Valley High School,Spokane,Washington,USA,chuck2147.com,2007,None,PNW,CMPTX,64,64,1,1
17,18,2374,Mentor Graphics/Boeing & Jesuit High School,Crusader Bots,Jesuit High School,Portland,Oregon,USA,http://www.team2374.com,2008,Centaur of Gravitar,PNW,CMPTX,64,64,1,1
18,19,2471,US Digital/Analog Devices/Protech Composites/T...,Team Mean Machine,Camas High School & Washougal High School & Ho...,Camas,Washington,USA,http://www.team2471.org/,2008,Atlas,PNW,CMPTX,64,64,1,1
19,20,2521,Oregon Department of Education/Autodesk/Boeing...,SERT,South Eugene High School,Eugene,Oregon,USA,http://www.sert2521.org,2008,Poe,PNW,CMPTX,64,64,1,1
20,21,2522,Microsoft/OSPI/Google/The Boeing Company/SPEEA...,Royal Robotics,Lynnwood High School,Lynnwood,Washington,USA,http://www.royalrobotics.org,2008,Princess Peach,PNW,CMPTX,64,64,1,1
21,22,2557,Boeing/OSPI/Tacoma School District/F5 Networks...,SOTAbots,Industrial Design Engineering and Art High Sch...,Tacoma,Washington,USA,http://www.sotabots.com,2008,Mothman,PNW,CMPTX,64,64,1,1
22,23,2605,OSPI/Boeing/Bellingham Public Schools Foundati...,Seamonsters,Bellingham High School & Sehome High School,Bellingham,Washington,USA,www.seamonsters2605.org,2008,None,PNW,CMPTX,64,64,1,1
23,24,2635,LAM Research/Intel/Boeing/Mentor Graphics/DWFr...,Lake Monsters,Lakeridge High School & Lake Oswego Senior Hig...,Lake Oswego,Oregon,USA,www.frc2635.org,2008,None,PNW,CMPTX,64,64,1,1
24,25,2733,Daimler/TE Connectivity/FLIR/First Tech Credit...,Pigmice,Family/Community & Cleveland High School,Portland,Oregon,USA,www.pigmice.com,2009,Otis,PNW,CMPTX,64,64,1,1
25,26,2811,The Boeing Company/Protech/Washington State OS...,StormBots,Skyview High School,Vancouver,Washington,USA,http://www.stormbots.com,2009,Zeus,PNW,CMPTX,64,64,1,1
26,27,2906,Bethel Public Schools CTE&Spanaway Lake High S...,Sentinel Prime Robotics,Spanaway Lake High School,Spanaway,Washington,USA,None,2009,Sentinel Prime Robotics,PNW,CMPTX,64,64,1,1
27,28,2910,The Boeing Company/Microsoft/Electroimpact/OSP...,Jack in the Bot,Henry M. Jackson High School,Mill Creek,Washington,USA,http://frcteam2910.org,2009,Kayla,PNW,CMPTX,64,64,1,1
28,29,2928,Digital Product Studio/GM Nameplate/OSPI/The B...,Viking Robotics,Ballard High School,Seattle,Washington,USA,http:/team2928.org,2009,Odin,PNW,CMPTX,64,64,1,1
29,30,2930,Microsoft Philanthropies/OSPI/The Boeing Compa...,Sonic Squirrels,Snohomish High School & Glacier Peak High School,Snohomish,Washington,USA,www.sonicsquirrels.com,2009,Risu Squee,PNW,CMPTX,64,64,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,35,3218,The Boeing Company/OSPI Office of Superintende...,Panther Robotics,Bonney Lake high school,Bonney Lake,Washington,USA,https://www.youtube.com/channel/UCv4791VCZYu2O...,2010,HighTower,PNW,CMPTX,64,64,1,1
35,36,3223,BAE Systems/Google/Raytheon/Microsoft/Central ...,Robotics Of Central Kitsap,Central Kitsap High School & Olympic High Scho...,Silverdale,Washington,USA,None,2010,None,PNW,CMPTX,64,64,1,1
36,37,3238,Anacortes Rotary Club/Anacortes School Distric...,Cyborg Ferrets,Anacortes High School,Anacortes,Washington,USA,http://team3238.com,2010,FRED,PNW,CMPTX,64,64,1,1
37,38,3663,The Boeing Company/Team Nelson Earthwork and U...,CPR - Cedar Park Robotics,Cedar Park Christian Schools,Bothell,Washington,USA,http://www.cprobotics.org,2011,CPR,PNW,CMPTX,64,64,1,1
38,39,3674,Boeing/US Digital/HP/OSPI / CAM Academy/Olin H...,CloverBots,Family/Community & Cam Jr Sr High School,Battle Ground,Washington,USA,https://www.facebook.com/CloverBots/,2011,Cubert 8-bot,PNW,CMPTX,64,64,1,1
39,40,3711,Nelson Brothers Engineering/Little Mountain Ha...,Iron Mustang,Trout Lake School,Trout Lake,Washington,USA,None,2011,Clamps,PNW,CMPTX,64,64,1,1
40,41,3826,Sequim School District/OSPI/Boeing/Sodexo&Sequ...,"Sequim Robotics Federation ""SRF""",Sequim Senior High,Sequim,Washington,USA,http://sequimroboticsfederation.weebly.com/,2011,The Bruce,PNW,CMPTX,64,64,1,1
41,42,4061,Schweitzer Engineering Laboratories/Inland Pow...,SciBorgs,4-H,Pullman,Washington,USA,http://sciborgs4061.com/,2012,Cube Jackman,PNW,CMPTX,64,64,1,1
42,43,4125,Umatilla School District/21st Century Communit...,Confidential,Umatilla High School,Umatilla,Oregon,USA,www.umatillarobotics.org,2012,Code Name: Flip,PNW,CMPTX,64,64,1,1
43,44,4131,The Boeing Company/Issaquah Schools Foundation...,Iron Patriots,Liberty Sr High School,Renton,Washington,USA,frc4131.org,2012,Alphonse,PNW,CMPTX,64,64,1,1
44,45,4450,The Community Foundation of South Puget Sound/...,Olympia Robotics Federation,Capital High School & Avanti High School & Oly...,Olympia,Washington,USA,orf4450.org,2013,Odyssey,PNW,CMPTX,64,64,1,1
45,46,4469,Alaska /Boeing /Federal Way Public Schools /F5...,R.A.I.D. (Raider Artificial Intelligence DIvis...,Thomas Jefferson High School,Federal Way,Washington,USA,https://raidrobotics.org,2013,None,PNW,CMPTX,64,64,1,1
46,47,4488,Intel Corp / Lam Research / Hillsboro School D...,Shockwave,Glencoe High School,Hillsboro,Oregon,USA,http://glencoerobotics.com/,2013,Tempest,PNW,CMPTX,64,64,1,1
47,48,4512,Boeing/OSPI/Everett School District/Bruin Comm...,BEAR bots,Cascade High School,Everett,Washington,USA,http://www.everett.k12.wa.us/cascade/roboticsc...,2013,Dug,PNW,CMPTX,64,64,1,1
48,49,4513,Washington State OSPI/Medical Lake High School...,Circuit Breakers,Medical Lake High School,Medical Lake,Washington,USA,http://mlhs.mlsd.org/apps/pages/index.jsp?uREC...,2013,CB^3 (CB cubed),PNW,CMPTX,64,64,1,1
49,50,4662,Boeing / Autodesk / Oregon Department of Educa...,Byte Sized Robotics,Scappoose High School,Scappoose,Oregon,USA,https://sites.google.com/site/shsrobotics4662,2013,None,PNW,CMPTX,64,64,1,1
50,51,4911,Microsoft/Electroimpact/Boeing/Ward Phillips/S...,CyberKnights,King's Schools,Seattle,Washington,USA,http://cyberknights4911.com/,2014,None,PNW,CMPTX,64,64,1,1
51,52,4915,Boeing/Bainbridge Schools Foundation/Office of...,Spartronics,Bainbridge High School,Bainbridge Island,Washington,USA,http://spartronics4915.com/,2014,THEMIS,PNW,CMPTX,64,64,1,1
52,53,4980,Bezos Family Foundation/Colmac Industries/Bois...,Canine Crusaders,Kettle Falls High School,Kettle Falls,Washington,USA,www.4980robotics.com,2014,Scrat,PNW,CMPTX,64,64,1,1
53,54,5450,Daimler/Boeing/Lower Columbia Engineering/Casc...,St. Helens Robotics and Engineering Club (SHREC),St Helens High School,Saint Helens,Oregon,USA,None,2015,None,PNW,CMPTX,64,64,1,1
54,55,5468,AutoDesk/Emediacy/CBT Nuggets/Streamline Solar...,Chaos Theory,Summit High School,Bend,Oregon,USA,summitrobotics.com,2015,None,PNW,CMPTX,64,64,1,1
55,56,5803,"AeroTEC, Inc/The Boeing Company/Oak Harbor Fre...",Apex Robotics,Seattle Christian Schools,Seattle,Washington,USA,www.apexfrc.com,2016,Level Red,PNW,CMPTX,64,64,1,1
56,57,5920,FFA/Washington FIRST Robotics/Hagan Foundation...,VIKotics,Garfield at Palouse High School & Palouse High...,Palouse,Washington,USA,www.garpal.net,2016,Jormungander,PNW,CMPTX,64,64,1,1
57,58,6076,Northport High School,Mustangs,Northport High School,Northport,Washington,USA,www.northportschools.org,2016,None,PNW,CMPTX,64,64,1,1
58,59,6443,Hillsboro School District/Hillsboro Optimist C...,AEMBOT,Liberty High School,Hillsboro,Oregon,USA,None,2017,None,PNW,CMPTX,64,64,1,1
59,60,6445,NASA & Career and Technical Education Center (...,CTEC Robotics,Career and Technical Education Center (CTEC),Salem,Oregon,USA,None,2017,None,PNW,CMPTX,64,64,1,1
60,61,6465,Autodesk/Mentor Graphics/The Wonderful Company...,Mystic Biscuit,Cascades Academy of Central Oregon,Bend,Oregon,USA,https://www.instagram.com/real_mystic_biscuit/...,2017,None,PNW,CMPTX,64,64,1,1
61,62,6831,Google&Hood River Valley High School&Hood Rive...,A-05 Annex,Hood River Valley High School & Hood River Val...,Hood River,Oregon,USA,a05annex.org,2018,None,PNW,CMPTX,64,64,1,1
62,63,6845,Hampton Lumber/Fastenal/NASA/Oregon Dept of Ed...,River Bots,Astoria Senior High School,Astoria,Oregon,USA,http://riverbots.com,2018,Matthew,PNW,CMPTX,64,64,1,1
63,64,7034,West Linn High School,2B Determined,West Linn High School,West Linn,Oregon,USA,None,2018,None,PNW,CMPTX,64,64,1,1

In [3]:
sql = ("SELECT * FROM scores;")
scores = pd.read_sql(sql, conn)
scores

,row.names,level,match,switchLeftNearColor,switchRightNearColor,scaleNearColor,alliance,autoRobot1,autoRobot2,autoRobot3,...,vaultPoints,endgamePoints,autoQuestRankingPoint,faceTheBossRankingPoint,foulCount,techFoulCount,adjustPoints,foulPoints,rp,totalPoints
0,1.blue,Qualification,1,Red,Red,Red,Blue,AutoRun,AutoRun,AutoRun,...,25,65,True,False,0,0,0,0,1,229
1,1.red,Qualification,1,Red,Red,Red,Red,AutoRun,AutoRun,AutoRun,...,45,40,True,False,0,0,0,0,3,406
2,2.blue,Qualification,2,Blue,Blue,Blue,Blue,AutoRun,AutoRun,None,...,20,60,False,False,1,1,0,25,0,239
3,2.red,Qualification,2,Blue,Blue,Blue,Red,AutoRun,AutoRun,AutoRun,...,20,35,True,False,0,1,0,30,3,280
4,3.blue,Qualification,3,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,35,65,True,False,0,0,0,25,3,447
5,3.red,Qualification,3,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,15,65,True,False,0,1,0,0,1,210
6,4.blue,Qualification,4,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,15,65,True,False,0,3,0,25,3,355
7,4.red,Qualification,4,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,30,35,True,False,0,1,0,75,1,337
8,5.blue,Qualification,5,Red,Red,Red,Blue,AutoRun,AutoRun,None,...,40,65,False,False,0,0,0,0,2,275
9,5.red,Qualification,5,Red,Red,Red,Red,AutoRun,AutoRun,AutoRun,...,5,5,True,False,0,0,0,0,1,167
10,6.blue,Qualification,6,Blue,Blue,Blue,Blue,AutoRun,AutoRun,AutoRun,...,30,65,True,False,0,0,0,0,3,420
11,6.red,Qualification,6,Blue,Blue,Blue,Red,AutoRun,AutoRun,AutoRun,...,20,90,True,True,0,0,0,0,2,191
12,7.blue,Qualification,7,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,30,65,True,False,0,0,0,0,3,432
13,7.red,Qualification,7,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,35,65,True,False,0,0,0,0,1,277
14,8.blue,Qualification,8,Blue,Blue,Blue,Blue,AutoRun,AutoRun,AutoRun,...,10,5,False,False,1,1,0,0,0,204
15,8.red,Qualification,8,Blue,Blue,Blue,Red,AutoRun,AutoRun,AutoRun,...,35,65,True,False,0,0,0,30,3,321
16,9.blue,Qualification,9,Red,Red,Blue,Blue,AutoRun,AutoRun,None,...,15,40,False,False,2,0,0,50,0,248
17,9.red,Qualification,9,Red,Red,Blue,Red,AutoRun,AutoRun,AutoRun,...,40,65,True,False,0,2,0,10,3,391
18,10.blue,Qualification,10,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,45,65,True,False,1,0,0,50,3,499
19,10.red,Qualification,10,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,40,65,True,False,0,2,0,5,1,299
20,11.blue,Qualification,11,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,0,5,False,False,0,1,0,30,0,170
21,11.red,Qualification,11,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,30,65,True,False,1,1,0,25,3,307
22,12.blue,Qualification,12,Red,Red,Blue,Blue,AutoRun,None,AutoRun,...,35,90,False,True,0,1,0,30,1,338
23,12.red,Qualification,12,Red,Red,Blue,Red,AutoRun,AutoRun,AutoRun,...,20,90,True,True,1,1,0,25,4,414
24,13.blue,Qualification,13,Blue,Blue,Blue,Blue,AutoRun,None,AutoRun,...,30,90,False,True,0,0,0,0,3,406
25,13.red,Qualification,13,Blue,Blue,Blue,Red,AutoRun,AutoRun,AutoRun,...,40,40,True,False,0,0,0,0,1,274
26,14.blue,Qualification,14,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,35,65,True,False,0,0,0,25,3,389
27,14.red,Qualification,14,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,25,30,True,False,0,1,0,0,1,266
28,15.blue,Qualification,15,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,40,65,True,False,2,2,0,0,1,337
29,15.red,Qualification,15,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,40,65,True,False,0,0,0,60,3,463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,114.blue,Qualification,114,Red,Red,Red,Blue,AutoRun,AutoRun,AutoRun,...,20,60,True,False,1,1,0,10,1,268
227,114.red,Qualification,114,Red,Red,Red,Red,AutoRun,AutoRun,AutoRun,...,20,65,True,False,2,0,0,30,3,375
228,115.blue,Qualification,115,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,40,40,True,False,0,0,0,5,3,412
229,115.red,Qualification,115,Blue,Blue,Red,Red,None,AutoRun,AutoRun,...,35,65,False,False,1,0,0,0,0,240
230,116.blue,Qualification,116,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,25,65,True,False,1,0,0,0,3,425
231,116.red,Qualification,116,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,25,65,True,False,0,0,0,5,1,272
232,117.blue,Qualification,117,Red,Red,Blue,Blue,AutoRun,AutoRun,AutoRun,...,45,60,True,False,0,1,0,30,1,326
233,117.red,Qualification,117,Red,Red,Blue,Red,None,AutoRun,AutoRun,...,45,40,False,False,1,1,0,25,2,340
234,118.blue,Qualification,118,Blue,Blue,Blue,Blue,AutoRun,AutoRun,AutoRun,...,0,0,True,False,1,0,0,0,1,145
235,118.red,Qualification,118,Blue,Blue,Blue,Red,AutoRun,AutoRun,AutoRun,...,10,35,True,False,0,0,0,5,3,316
236,119.blue,Qualification,119,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,45,65,True,False,1,1,0,10,1,332
237,119.red,Qualification,119,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,30,40,True,False,2,0,0,30,3,358
238,120.blue,Qualification,120,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,20,60,True,False,0,1,0,0,3,319
239,120.red,Qualification,120,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,15,40,True,False,0,0,0,25,1,251
240,121.blue,Qualification,121,Blue,Blue,Blue,Blue,AutoRun,AutoRun,AutoRun,...,35,35,True,False,0,0,0,5,3,413
241,121.red,Qualification,121,Blue,Blue,Blue,Red,AutoRun,AutoRun,AutoRun,...,25,65,True,False,1,0,0,0,1,274
242,122.blue,Qualification,122,Blue,Blue,Blue,Blue,AutoRun,AutoRun,AutoRun,...,40,90,True,True,0,0,0,30,4,489
243,122.red,Qualification,122,Blue,Blue,Blue,Red,AutoRun,AutoRun,AutoRun,...,30,40,True,False,1,1,0,0,1,260
244,123.blue,Qualification,123,Blue,Blue,Blue,Blue,AutoRun,AutoRun,AutoRun,...,15,65,True,False,1,1,0,0,1,269
245,123.red,Qualification,123,Blue,Blue,Blue,Red,AutoRun,AutoRun,AutoRun,...,45,90,True,True,0,0,0,30,4,473
246,124.blue,Qualification,124,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,5,35,False,False,0,1,0,50,0,105
247,124.red,Qualification,124,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,35,90,True,True,5,1,0,25,4,487
248,125.blue,Qualification,125,Red,Red,Red,Blue,AutoRun,AutoRun,AutoRun,...,40,65,True,False,2,0,0,5,3,423
249,125.red,Qualification,125,Red,Red,Red,Red,AutoRun,None,AutoRun,...,15,90,False,True,1,0,0,10,1,154
250,126.blue,Qualification,126,Blue,Blue,Red,Blue,AutoRun,AutoRun,AutoRun,...,25,35,False,False,0,0,0,25,2,344
251,126.red,Qualification,126,Blue,Blue,Red,Red,AutoRun,AutoRun,AutoRun,...,25,90,True,True,0,1,0,0,2,286
252,127.blue,Qualification,127,Red,Red,Blue,Blue,AutoRun,AutoRun,AutoRun,...,15,35,True,False,0,0,0,10,1,272
253,127.red,Qualification,127,Red,Red,Blue,Red,AutoRun,AutoRun,AutoRun,...,35,65,True,False,2,0,0,0,3,364
254,128.blue,Qualification,128,Red,Red,Blue,Blue,AutoRun,AutoRun,AutoRun,...,30,65,True,False,0,0,0,25,3,405
255,128.red,Qualification,128,Red,Red,Blue,Red,AutoRun,AutoRun,AutoRun,...,45,65,True,False,0,1,0,0,1,296

In [23]:
# scores.loc["row.names", "match", "alliance", "autoPoints", "teleopPoints"]
scores.loc[5:10, ["row.names", "match", "alliance", "autoPoints", "teleopPoints"]]

   row.names  match alliance  autoPoints  teleopPoints
5      3.red      3      Red          37           173
6     4.blue      4     Blue          35           295
7      4.red      4      Red          39           223
8     5.blue      5     Blue          12           263
9      5.red      5      Red          31           136
10    6.blue      6     Blue          43           377

In [13]:
scores.columns

Index(['row.names', 'level', 'match', 'switchLeftNearColor',
       'switchRightNearColor', 'scaleNearColor', 'alliance', 'autoRobot1',
       'autoRobot2', 'autoRobot3', 'autoSwitchOwnershipSec',
       'autoScaleOwnershipSec', 'autoSwitchAtZero', 'autoRunPoints',
       'autoOwnershipPoints', 'autoPoints', 'teleopSwitchOwnershipSec',
       'teleopScaleOwnershipSec', 'teleopSwitchBoostSec',
       'teleopScaleBoostSec', 'teleopSwitchForceSec', 'teleopScaleForceSec',
       'vaultForceTotal', 'vaultForcePlayed', 'vaultLevitateTotal',
       'vaultLevitatePlayed', 'vaultBoostTotal', 'vaultBoostPlayed',
       'endgameRobot1', 'endgameRobot2', 'endgameRobot3', 'teleopPoints',
       'teleopOwnershipPoints', 'vaultPoints', 'endgamePoints',
       'autoQuestRankingPoint', 'faceTheBossRankingPoint', 'foulCount',
       'techFoulCount', 'adjustPoints', 'foulPoints', 'rp', 'totalPoints'],
      dtype='object')

In [30]:
sql = sqlalchemy.text("""
SELECT match, alliance, "autoScaleOwnershipSec" FROM scores;
""")

scores = pd.read_sql(sql, conn)
scores

     match alliance  autoScaleOwnershipSec
0        1     Blue                      0
1        1      Red                     10
2        2     Blue                      0
3        2      Red                      4
4        3     Blue                      1
5        3      Red                      0
6        4     Blue                      0
7        4      Red                      2
8        5     Blue                      0
9        5      Red                      0
10       6     Blue                      4
11       6      Red                      0
12       7     Blue                      7
13       7      Red                      0
14       8     Blue                      0
15       8      Red                      0
16       9     Blue                      0
17       9      Red                      0
18      10     Blue                     10
19      10      Red                      0
20      11     Blue                      0
21      11      Red                      4
22      12     Blue                      0
23      12      Red                      3
24      13     Blue                      0
25      13      Red                      0
26      14     Blue                      0
27      14      Red                      0
28      15     Blue                      0
29      15      Red                      8
..     ...      ...                    ...
226    114     Blue                      0
227    114      Red                      0
228    115     Blue                     10
229    115      Red                      0
230    116     Blue                      9
231    116      Red                      0
232    117     Blue                      0
233    117      Red                      0
234    118     Blue                      0
235    118      Red                      6
236    119     Blue                      0
237    119      Red                      0
238    120     Blue                      8
239    120      Red                      0
240    121     Blue                     10
241    121      Red                      0
242    122     Blue                      5
243    122      Red                      0
244    123     Blue                      6
245    123      Red                      0
246    124     Blue                      0
247    124      Red                      6
248    125     Blue                     10
249    125      Red                      0
250    126     Blue                      3
251    126      Red                      0
252    127     Blue                      0
253    127      Red                      6
254    128     Blue                      0
255    128      Red                      0

[256 rows x 3 columns]

In [5]:
sql = sqlalchemy.text("""
SELECT schedule.team, scores.match, scores.alliance,
       scores."autoScaleOwnershipSec"
  FROM scores INNER JOIN schedule
    ON schedule.match = scores.match AND
       schedule.alliance = scores.alliance;
""")
scores = pd.read_sql(sql, conn)
scores.shape

(768, 4)

In [4]:
sql = sqlalchemy.text("""
SELECT schedule.team, scores.match, scores.alliance,
       scores."autoScaleOwnershipSec"
  FROM scores INNER JOIN schedule
    ON schedule.match = scores.match;
""")
scores = pd.read_sql(sql, conn)
scores.shape

(1536, 4)

In [13]:
sql = sqlalchemy.text("""
SELECT schedule.team, SUM(scores."autoScaleOwnershipSec") AS "autoScaleOwnershipSec"
  FROM scores INNER JOIN schedule
    ON schedule.match = scores.match
 GROUP BY schedule.team
 ORDER BY "autoScaleOwnershipSec" DESC;
""")
scores = pd.read_sql(sql, conn)
scores

    team  autoScaleOwnershipSec
0   2046                     90
1   2374                     76
2   2471                     74
3   4061                     70
4   4488                     70
5   2928                     67
6   1318                     63
7   4513                     62
8   2910                     61
9   2521                     60
10  2930                     60
11  1510                     60
12  5803                     59
13  1540                     58
14  2635                     57
15  6845                     57
16  3674                     57
17  3218                     56
18  2522                     56
19  3663                     55
20  3223                     54
21  3826                     53
22  4512                     53
23  2906                     52
24  6465                     52
25  2990                     51
26   847                     51
27  5450                     50
28  4469                     50
29  4450                     49
..   ...                    ...
34  2811                     48
35  5468                     48
36   492                     47
37  4911                     47
38  7034                     47
39  1425                     47
40  6445                     46
41  2147                     46
42  1983                     45
43   957                     45
44   488                     45
45  6443                     45
46  2733                     45
47  2944                     43
48  2605                     43
49  3238                     42
50  3711                     41
51  4662                     41
52  1778                     40
53  4131                     40
54  4125                     40
55   997                     39
56  5920                     38
57  3024                     38
58  1359                     38
59  4980                     34
60  1595                     31
61  2557                     30
62  2976                     28
63  6076                     26

[64 rows x 2 columns]

In [14]:
sql = sqlalchemy.text("""
SELECT count("alliance") AS color_aligned_matches
FROM scores
WHERE alliance = 'Blue' AND "switchRightNearColor" = "scaleNearColor";
""")
scores = pd.read_sql(sql, conn)
scores

   color_aligned_matches
0                     61

In [17]:
sql = sqlalchemy.text("""
SELECT avg("totalPoints")
FROM scores
GROUP BY "alliance";
""")
scores = pd.read_sql(sql, conn)
scores

         avg
0  322.78125
1  328.40625

In [19]:
sql = sqlalchemy.text("""
SELECT teams."stateProv", avg(scores."totalPoints")
  FROM scores INNER JOIN (schedule INNER JOIN teams
    ON teams.team = to_number(schedule.team, '9999'))
	ON schedule.match = scores.match AND schedule.alliance = scores.alliance
 GROUP BY teams."stateProv";
""")
scores = pd.read_sql(sql, conn)
scores

    stateProv         avg
0  Washington  333.212500
1      Oregon  312.895833

In [4]:
sql = sqlalchemy.text("""
SELECT count(team) AS numTeams, city FROM teams
GROUP BY city
ORDER BY numTeams DESC;
""")
num_tms = pd.read_sql(sql, conn)
num_tms.head()

   numteams       city
0         5    Seattle
1         3   Portland
2         3    Spokane
3         2  Hillsboro
4         2   Bellevue

In [5]:
sql = sqlalchemy.text("""
SELECT schedule.team, avg(scores."vaultForceTotal" + scores."vaultForcePlayed" + scores."vaultLevitateTotal") AS total_cubes
  FROM scores INNER JOIN schedule
    ON schedule.match = scores.match AND schedule."alliance" = scores."alliance"
 GROUP BY schedule.team
 ORDER BY total_cubes DESC;
""")
t_cubes = pd.read_sql(sql, conn)
t_cubes.head()

   team  total_cubes
0  1595     7.333333
1  2046     7.250000
2  4450     7.250000
3  2605     7.083333
4  5920     6.916667